<div class="methods">
  <div class="primary-bordered-button copyWith">
    <i class="material-icons"> check_box_outline_blank </i>
    <p>copyWith( )</p>
  </div>
  <div class="primary-bordered-button fromJson">
    <i class="material-icons"> check_box_outline_blank </i>
    <p>fromJson( )</p>
  </div>
  <div class="primary-bordered-button toJson">
    <i class="material-icons"> check_box_outline_blank </i>
    <p>toJson( )</p>
  </div>
  <div class="primary-bordered-button setter">
    <i class="material-icons"> check_box_outline_blank </i>
    <p>setter( )</p>
  </div>
  <div class="primary-bordered-button equals">
    <i class="material-icons"> check_box_outline_blank </i>
    <p>== ( )</p>
  </div>
  <div class="primary-bordered-button toString">
    <i class="material-icons"> check_box_outline_blank </i>
    <p>toString( )</p>
  </div>
</div>