<div class="obj-details">
  <div class="class">
    <div class="class-name">
      <input type="text" placeholder="Class Name" (input)="setClassName(className.value)" #className>
    </div>
    <div class="is-mutable">
      <i class="material-icons"
        (click)="changeMutable()">{{ (isMutable$ | async) ? 'check_box': 'check_box_outline_blank' }}</i>
      <p (click)="changeMutable()">isMutable</p>
    </div>
  </div>
  <div class="variables">
    <app-variable *ngFor="let curId of ids" [id]='curId' (addId)="addNewId($event)"></app-variable>
  </div>
</div>