
@import '../../styles/components';

.donate-btn{
    @extend %primary-button-style;
}

.nav-bar{
    box-sizing: border-box;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 20px 80px;

    .logo{
        img{
            height: 40px;
        }
    }
}