
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './app/styles/components';

*{
    font-family: 'Roboto', sans-serif;
}

body{
    margin:0;
    padding: 0;
    color: $primary;

    p{
        margin: 0;
    }

    input{
        @extend %border-button-style;
        text-align: center;
    }

    input:focus{
        outline: none;
    }
}