<div class="variable">
  <div class="name">
    <input type="text" placeholder="Name" #className>
  </div>
  <div class="type">
    <select>
      <option value="int">INT</option>
      <option value="double">DOUBLE</option>
      <option value="string">STRING</option>
      <option value="bool">BOOL</option>
      <option value="list">LIST</option>
      <option value="sets">SETS</option>
      <option value="maps">MAPS</option>
    </select>
  </div>
  <div class="is-nullable">
    <i class="material-icons">check_box_outline_blank</i>
    <p>isMutable</p>
  </div>
</div>